/* importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* reset rules for all elements */
* {  
   vertical-align: baseline;  
   font-family: inherit;  
   font-style: inherit;  
   font-size: 100%;  
   border: none;  
   padding: 0;  
   margin: 0;  
   }  
body {  
   padding: 5px;  
   }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
   margin: 20px 0;  
   }  
li, dd, blockquote {  
   margin-left: 40px;  
   }  
table {  
   border-collapse: collapse;  
   border-spacing: 0;  
   }
/* image rules */
img {
   border-radius: 10px;
}
/* grid layout */
div.container {
   display: grid;
   height: 100%;
   width: 100%;
   align-content: space-between;
   grid-template-columns: 280px auto;
   grid-template-rows: 150px 80px auto 80px;
}
header, div#navmenu, footer {
   grid-column: 1 / span 2;
}
/* flex box layout */
header {
   display: flex;
   justify-content: center;
   align-content: space-between;
   background-color: rgba(200, 178, 22, 0.85);
   border-radius: 12px;
}
img#header-img, div#header-title {
   margin: 10px;
   align-items: baseline;
}
div#header-title {
   font-size: 3.2em;
   font-family: "Lobster",Arial,sans-serif;
}